:root {
   --header-height: 4rem;

 /* COLORS */
   --container-color: #181515;
   --body-color: #181515;
   --text-color: #c7c6c2;
   --title-color: #770d12;
   --title-color-dark: #4f0101;

 /* FONTS */
   --body-font: "Josefin Sans", sans-serif;
   --font-normal: 400;
   --font-medium: 500;
   --font-semi-bond: 600;
   --exrta-light: 200;

 /* Z-INDEX */
   --z-tooltip: 10;
   --z-fixed: 100;
   --z-modal: 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--font-normal);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-weight: var(--font-semi-bond);
    line-height: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Стили для всего скроллбара */
::-webkit-scrollbar {
    width: 12px;
}
  
/* Стили для трека скроллбара (background) */
::-webkit-scrollbar-track {
  background: #181515; /* Цвет трека */
}
  
/* Стили для бегунка скроллбара (thumb) */
::-webkit-scrollbar-thumb {
    background: #770d12; /* Цвет бегунка */
    border-radius: 5px; /* Закругленные углы бегунка */
}
  
/* Стили для бегунка скроллбара при наведении */
::-webkit-scrollbar-thumb:hover {
    background: #4f0101; /* Цвет бегунка при наведении */
}

.section {
    padding: 7.5rem 0 2rem;
}

.section__text {
  font-size: 45px;
  color: var(--title-color);
  margin-bottom: 10px;
}

.section__subtitle {
    display: block;
    font-size: 16px;
    margin-bottom: 4rem;
}
.section__text,
.section__subtitle {
    text-align: center;
}

.container {
    max-width: 958px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.button {
    display: inline-block;
    background-color: #530408;
    color: var(--body-color);
    padding: 1.25rem 1.4rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
    transition: 0.9s;
    color: var(--text-color);
}

.button:hover {
    background-color: var(--title-color-dark);
}

.button_icon {
    margin-left: 7px;
    margin-top: -2px;
}

.button__flex {
    display: inline-flex;
    align-items: center;
}

.projects {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
    padding-bottom: 4rem;
}

.text {
    font-size: 25px;
    font-weight: var( --exrta-light);
}

@media screen and (max-width: 992px) {
    .container {
        margin: 0 50px;
    }
    .button {
        padding: 1rem 1.75rem;
    }
    .button_icon {
        width: 20px;
        height: 20px;
        margin-left: 8px;
    }
    .projects {
        grid-template-columns: 1fr;
    }
    .section__subtitle {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0 0 var(--header-height) 0;
    }
    .section {
        padding: 2rem 0 4rem;
    }
    .section__subtitle {
        margin-bottom: 40px;
    }
    .projects {
        column-gap: 20px;
	    row-gap: 20px;
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 470px) {
    .container {
        margin: 0 40px;
    }
    .projects {
        grid-template-columns: 1fr;  
        column-gap: 15px;
	    row-gap: 15px;
        justify-items: center;
    }
}